.loader-container{
    position: fixed;
    z-index:20;
    top: 0;
    left: 0;
    height:100vh;
    width:100vw;
    background-color:#000000;
    opacity:0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 48px;
    height: 48px;
  }
  .loader:before,
  .loader:after {
    content:"";
    display: block;
    border: 32px solid transparent;
    border-top-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    animation: weld-rotate 2s infinite ease-in;
  }
  .loader:before {
    border-color: transparent  transparent transparent #FF3D00;
    animation-delay: 0.5s;
  }
  @keyframes weld-rotate {
    0% , 25% {transform: rotate(0deg)}
    50% , 75% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
  }
